@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Deepshika Ghale</h3>

<form>
    <label>First Number: </label>
    <input type="number" name="firstNumber" />
    <br />
    <br />
    <label>Second Number: </label>
    <input type="number" name="secondNumber" />
    <br />
    <br />
    <input type="submit" />
    <br />
    <br />
    <label>Output: </label>
</form>